*.tap

java-*/target/
javascript/node_modules/
javascript/_build/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
.Python
env/
python/bin/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.cache
nosetests.xml
coverage.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# Rope
.ropeproject

# Django stuff:
*.log
*.pot

# Sphinx documentation
docs/_build/

robotframework/log.html
robotframework/output.xml
robotframework/report.html

*/SpecFlow.1.9.0
*/NUnit.2.6.4
*/NUnit.Runners.2.6.4

hiptest.publisher.samples.dll

csharp/TestResult.xml
csharp/obj

specflow/features/*.feature.cs
specflow/obj
specflow/TestResult.xml

*.exe
*.dll
*.dll.mdb

hps/hps-*